<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>spring cloud success</title>
    <link href="https://blog.csdn.net/qierkang" rel="canonical">
    <meta content="戚尔康的博客-薯条的博客-薯条开源-尔康博客-xyqierkang-xyqierkang@163.com-383888666-qierkang- CSDN博客"
          name="csdn-baidu-search">
    <meta content="戚尔康的博客-薯条的博客-薯条开源-尔康博客-xyqierkang-xyqierkang@163.com-383888666-qierkang-是一名计算机软件行业的博主,他一直在热衷于分享后台技术栈,服务器领域的技术知识。他主要关注安全架构方面的内容。"
          name="description">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <script charset="utf-8" th:src="@{/rocket/js/jquery-1.4.2.min.js}"></script>
    <link media="all" rel="stylesheet" th:href="@{/rocket/styles.css}">
    <script charset="utf-8" th:src="@{/rocket/js/script.js}"></script>
</head>
<body>

<div id="rocket"></div>

<hgroup>
    <h1>🐑🐑🐑 Success!</h1>
    <h2>Welcome to 🐑🐑🐑 Server.</h2>
</hgroup>


</body>
</html>
